{% extends 'layouts/main.html' %}

{% block content %}
    {{ super() }}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron alert-danger">
                    <div class="container text-center">
                        <h1 class="display-4">403 - Forbidden!</h1>
                        <p class="lead">You're not authorized.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
